.sign-in-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;   
    padding: 0;
}

.bg-image {
    background-image: url('../../assets/images/car.png');
    background-repeat: no-repeat;
    
}