<div class="mt-8">
    <div *ngIf="hasResetPassword" class="kaushan-font text-5xl heading-style text-center my-3">Reset password</div>
    <div *ngIf="!hasResetPassword" class="kaushan-font text-5xl heading-style text-center my-3">Activate user</div>
  
    <div class="col-12 flex justify-content-center">
      <div class="col-5" [formGroup]="form">
        <div *ngIf="hasResetPassword" class="my-3 f-c-94 text-base text-center">Enter your email address, and we'll send
          you a password reset link.
        </div>
        <div *ngIf="!hasResetPassword" class="my-3 f-c-94 text-base text-center">Enter your password, and activate your
          account
        </div>
        <div class="my-5" *ngIf="hasResetPassword">
          <input pInputText type="text" class="w-full" placeholder="Email address"
                 formControlName="email"/>
          <div *ngIf="submitted && f['email'].errors" class="text-red-500">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
          </div>
        </div>
        <div *ngIf="params">
          <div class="my-5">
            <input pInputText type="password" class="w-full" placeholder="Password" formControlName="password"/>
            <div *ngIf="submitted && f['password'].errors" class="text-red-500">
              <div *ngIf="f['password'].errors['required']">Password is required</div>
            </div>
          </div>
          <div class="my-5">
            <input pInputText type="password" class="w-full" placeholder="Confirm Password"
                   formControlName="confirmPassword"/>
            <div *ngIf="submitted && f['confirmPassword'].errors" class="text-red-500">
              <div *ngIf="f['confirmPassword'].errors['required']">
                Confirm Password is required
              </div>
              <div *ngIf="f['confirmPassword'].errors['matching']">
                Confirm Password does not match
              </div>
            </div>
          </div>
        </div>
        <div class="my-5 lato-regular text-center">
          <p-button class="uppercase w-full" [label]="hasResetPassword ? 'SEND RESET LINK' : 'ACTIVATE USER'"
                    (onClick)="sendLink()"></p-button>
        </div>
        <div class="my-5 lato-regular text-center">
          <span class="mr-2">Don't need to reset your password?</span>
          <span role="button" class="text-center f-c-r cursor-pointer reset"
                routerLink="/login">Sign in</span>
        </div>
      </div>
    </div>
  </div>